doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Webpack App

nav.navbar-primary.text-white.mb-4
  .container
    h2.site-title Shinobi CSS
    p A lightweight CSS library for dev ninjas

.container
  h2.mb-2 Colors
  span.text-primary primary text
  |  | 
  span.text-secondary secondary text
  |  | 
  span.text-error error text
  |  | 
  span.text-info info text
  |  | 
  span.text-blue blue text
  |  | 
  span.text-red red text
  |  |
  span.text-green green text
  |  | 
  span.text-yellow yellow text
  |  | 
  span.text-purple purple text
  |  | 
  span.text-orange orange text
  |  | 
  span.text-gray gray text

  br
  br

  span.bg-primary.text-white bg primary
  |  |
  span.bg-secondary.text-white bg secondary
  |  |
  span.bg-error.text-white bg error
  |  |
  span.bg-info.text-white bg info
  |  |
  span.bg-blue.text-white bg blue
  |  |
  span.bg-red.text-white bg red
  |  |
  span.bg-green.text-white bg green
  |  |
  span.bg-yellow.text-white bg yellow
  |  |
  span.bg-purple.text-white bg purple
  |  |
  span.bg-orange.text-white bg orange
  |  |
  span.bg-gray.text-white bg gray
  |  |

  br
  br

  span.bg-primary-dark-8.text-white primary dark 8
  |  |
  span.bg-primary-dark-6.text-white primary dark 6
  |  |
  span.bg-primary-dark-4.text-white primary dark 4
  |  |
  span.bg-primary-dark-2.text-white primary dark 2
  |  |
  span.bg-primary.text-white primary
  |  |
  span.bg-primary-light-2.text-white primary light 2
  |  |
  span.bg-primary-light-4.text-white primary light 4
  |  |
  span.bg-primary-light-6.text-white primary light 6
  |  |
  span.bg-primary-light-8.text-white primary light 8
  |  |

  br
  br

  a.text-primary.text-hover-orange-light-1(href='#') hover me
  hr.mt-4.mb-4

  //- font sizes
  h2.mb-2 Font Sizes
  .font-sm this is small font
  .font-md this is medium font
  .font-lg this is large font
  .font-xl this is extra large font
  .font-xxl this is extra, extra large font
  hr.mt-4.mb-4

  //- buttons
  h2.mb-2 Buttons
  a.btn(href='#') default btn
  a.btn-primary.text-white(href='#') click me
  a.btn-secondary.text-white(href='#') click me
  a.btn-error.text-white(href='#') click me
  a.btn-info(href='#') click me
  a.btn-outlined-purple.text-purple.text-hover-white(href='#') click me
  a.btn-outlined-orange.text-orange.text-hover-white(href='#') click me
  a.btn-complement-purple(href='#') click me
  a.btn-complement-primary(href='#') click me
  hr.mt-4.mb-4

  //- cards
  h2.mb-2 Cards
  .card
    h1.card-title This is a title
    p.card-body
      | Lorem ipsum dolor sit, amet consectetur adipisicing elit. In sunt, quo totam aliquam praesentium ducimus tempore sapiente quia nulla optio? Lorem ipsum, dolor sit amet consectetur 
      a(href='') adipisicing elit
      | . Libero laboriosam laborum exercitationem autem commodi voluptas odio aliquid ut velit doloremque minima, quaerat dolores, corporis consequuntur totam nam id veniam maxime.
  hr.mt-4.mb-4

  //- grid system
  h2.mb-2 Grid System
  .row.gap-2.justify-center
    .col-12-xs.col-5-sm.col-3-xl
      .card
        h3.card-title Hello, ninjas
        p.card-body Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .col-12-xs.col-5-sm.col-3-xl
      .card
        h3.card-title Hello, ninjas
        p.card-body Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .col-12-xs.col-5-sm.col-3-xl
      .card
        h3.card-title Hello, ninjas
        p.card-body Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .col-12-xs.col-5-sm.col-3-xl
      .card
        h3.card-title Hello, ninjas
        p.card-body Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  hr.mt-4.mb-4

  //- utilities
  h2 Using Utilities

  .mt-2.text-orange-dark-2.bg-orange-light-5.p-2.br-xs
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis!
  .mt-2.text-secondary-dark-2.bg-secondary-light-5.p-2.br-lg
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, perspiciatis!
  .display-i-b.bg-purple.text-white.o-10.mt-3.mr-3.p-2 opacity 10
  .display-i-b.bg-purple.text-white.o-30.mt-3.mr-3.p-2 opacity 30
  .display-i-b.bg-purple.text-white.o-50.mt-3.mr-3.p-2 opacity 50
  .display-i-b.bg-purple.text-white.o-70.mt-3.mr-3.p-2 opacity 70
  .display-i-b.bg-purple.text-white.o-90.mt-3.mr-3.p-2 opacity 90
  hr.mt-4.mb-4
