doctype html
html(lang="en")
  head
    title= htmlWebpackPlugin.options.title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    //- 1 шаг - подключим шаблон хэдера
    include includes/header

    //- 2 шаг - сюда вставим наследников от этого шаблона
    .content-wrapper
      block content


    //- 3 шаг - подключим шаблон футера
    include includes/footer